<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p> little about me, my wife and I have been married since 2018. Last year we started to work on our foster care lisence and currently have 2 little girls placed with us. I started out my educational journey in Biology but decided I wanted something more mathematical and problem solving, thats when I found computer science.
          Somethings that you will finding me doing, before our foster placement, was playing videos games like Minecraft, Sea of Thieves, Apex, and of course COD, Although I do love the occasional rpg game. My wife and I really enjoy going on hikes and exploring nature, at least more so when I was in better shapes now its me just trying breath enough oxygen. 
          I grew up in Taylor, Arizona and served a mission in Ontario, Canada. Another thing is that right now I am reading thorough Brandon Sandersons universe and have been really enjoying it.</p>
      </div>
      <div class="col-lg-4">
        <p>          I have moved a lot while studying and have been to many different colleges here in Utah and in Arizona. Some of my favorite foods are Ramen, Sushi, and Pizza. I have been working on getting my degree in cyber security or even maybe computer science since I would love to work in the medical robotics feild, but I am closer to getting my cyber security degree so will probably stop doing school after that. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
         
        </a>
      </div>
    </div>
  </div>
</section>
